*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(imagenes/loggg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 50px;
    left: 8px;
    left: 38%;
   
}

.contenedor__login-register form{
    width: 100%;
    padding: 30px 20px;
    background: rgb(80, 46, 231);
    position: center;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}
.contenedor__login-register form h3{
    font-size: 18px;
    text-align: left;
    margin-bottom: 9px;
    color: #0c0c0c;
 
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form label{
    width: 100px;
    float: left;
  

}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: rgb(30, 36, 4);
    outline: none;
}